.mt-96 {
  margin-top: var(--spacing-3xl);
}

.mb-96 {
  margin-bottom: var(--spacing-3xl);
}

.mt-48 {
  margin-top: var(--spacing-2xl);
}

.mb-48 {
  margin-bottom: var(--spacing-2xl);
}

.mt-32 {
  margin-top: var(--spacing-xl);
}

.mb-32 {
  margin-bottom: var(--spacing-xl);
}

.mt-24 {
  margin-top: var(--spacing-lg);
}

.mb-24 {
  margin-bottom: var(--spacing-lg);
}

.mt-16 {
  margin-top: var(--spacing-md);
}

.mb-16 {
  margin-bottom: var(--spacing-md);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
